*, *:hover, *:active {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
};
body {
    width: 100%;
    height: 100vh;
}
.block {
    text-align: center;
    margin: 32px auto;
}
.searchBar {
    width: 500px;
    height: 50px;
    font-size: 24px;
}
.promptContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 0 auto 16px;
}
.prompt {
    display: grid;
    box-sizing: border-box;
    font-size: 24px;
    background: #F8F8F8;
    border: 1px solid #000;
    cursor: pointer;
}
.prompt button {
    display: none;
}
